@charset "utf-8";
/*大类菜单*/
#ItemSortCon{margin-top:1px;}
#Menu{position:absolute;width:208px;}
#Menu .header{display:none}
#Menu .Listcontent{top:-1px;}
.classMenu{display:none;}
.lbg{margin-top:1px}
.ItemSort1{background:url(../images/hov2.png) no-repeat left top;}
.ItemSort{background:url(../images/hov3.png) no-repeat left top;}
#ItemSort{text-align:center;}
#ItemSort span{font-weight:bold; color:#FFF; font-size:14px; padding:56px 0 7px 0;}
#ItemSort span b{ width:15px;}
/*产品热评*/
#hotComments{overflow:hidden}
#hotComments .title div{width:30px; height:27px}
#hotComments .title h3{width:148px; height:24px; background-color:#bb1f23; color:#5D7887; padding-top:3px; background-color:#E6E7E8}
#hotComments .title .mem0{background:url(../images/showbg.png) 0px -160px no-repeat}
#hotComments .title .mem1{background:url(../images/showbg.png) -40px -160px no-repeat}
#hotComments .border_b{height:12px; background:url(../images/showbg.png) 0px -197px no-repeat}
#hotComments .group{background-color:#F3F3F3; padding:0px 10px; margin-bottom:-1px}
#hotComments .group .item{overflow:hidden; zoom:1; padding:5px 0px; border-bottom:dotted 1px #ccc}
#hotComments .group .item .photo{float:left; border:solid 1px #ccc; margin-right:5px}
#hotComments .group .item div{float:left; width:121px; clear:right}
#hotComments .group .item .adText{margin-bottom:3px}
#hotComments .group .item .price{text-align:right; margin-bottom:3px}
/*热卖推荐样式*/
#recommend{border:solid 1px #F9AA3D}
#recommend .group{border:solid 3px #F9EFE3; overflow:hidden; zoom:1}
#recommend .group .title{width:36px; height:86px; background-color:#BE1E2D; text-align:center; padding-top:10px; float:left; margin-left:1px}
#recommend .group .title li{font-size:14px; font-weight:bold; color:#fff}
#recommend .group .item{overflow:hidden; zoom:1; margin:3px 0px; float:left}
#recommend .group .item li{float:left; overflow:hidden; zoom:1; width:294px; padding:0 9px}
#recommend .group .item li img{float:left}
#recommend .group .item li .adText{margin-bottom:3px}
#recommend .group .item li .price{text-align:left; position:relative; zoom:1; margin-bottom:5px}
#recommend .group .item li .price a{ position:absolute; right:0}
/*筛选条件*/
#screening{margin-top:10px; border-top:solid 2px #F9AA3D}
#screening *{line-height:18px}
#screening .title{background-color:#f8f8f8; border:solid 1px #ccc; border-top:none; font-size:14px; color:#BE1E2D; padding:7px 0 7px 10px; font-weight:bold;}
#screening .title span{margin-left:10px; color:#555}
#screening .attr{padding:10px; padding-bottom:5px; border-bottom:dotted 1px #ccc; border-left:solid 1px #ccc; border-right:solid 1px #ccc}
#screening .attr em{width:100px; text-align:right; font-weight:bold}
#screening .attr strong{width:824px; position:relative; right:0; vertical-align:top}
#screening .attr span{margin:0 18px; margin-bottom:5px; width:100px; vertical-align:top}
#screening .attr a{padding:0 2px; color:#069}
#screening .attr a.selected{background-color:#CC0000; color:#fff;}
#screening .more{border-top:solid 1px #ccc; margin-top:-1px}
#screening .more .item0{height:5px; font-size:0; background-color:#fcfcfc; border:solid 1px #ccc; border-top:none}
#screening .more .item1{width:80px; text-align:center; margin:0px auto; border:solid 1px #ccc; background-color:#fcfcfc; border-top:solid 1px #fcfcfc; margin-top:-1px}
#screening .more .item1 a{color:#037DC7}
#screening .more .item1 a:hover{text-decoration:underline}
/*商品列表*/
#showList{margin-top:10px; border:solid 1px #ccc; border-top:solid 3px #BE1E2D; width:980px;}
#showList .sort{height:36px; background-color:#F7F8F8; border-bottom:solid 1px #ccc}
#showList .sort .item0{overflow:hidden; zoom:1; margin-top:6px; padding-left:15px}
#showList .sort .item0 div{float:left}
#showList .sort .item0 select{border:solid 1px #ccc; height:24px}
#showList .sort .item0 ul{overflow:hidden; zoom:1; margin-top:2px; padding-left:20px}
#showList .sort .item0 li{padding:3px 10px; float:left; font-size:12px; border:solid 1px #ccc; margin-right:5px; cursor:pointer; cursor:hand}
#showList .sort .item0 li a:hover{text-decoration:underline}
#showList .sort .item0 li.selected{background-color:#BE1E2D}
#showList .sort .item0 li.selected a{color:#fff; font-weight:bold}
#showList .list{padding-top:10px; width:972px}
#showList .list ul{overflow:hidden; zoom:1}
#showList .list li{float:left; margin:0px 8px 10px 8px; border:solid 2px #fff; width:220px}
#showList .list li .group{border:solid 1px #fff; padding:5px}
#showList .list li:hover{border:solid 2px #E9E7CF; padding:0px}
#showList .list li:hover .group{border:solid 1px #F9F9E6}
#showList .list li .photo{text-align:center}
#showList .list li .mem0{overflow:hidden; zoom:1; padding-right:5px; margin-bottom:5px}
#showList .list li .mem0 p{float:left; width:50%}
#showList .list li .botton{overflow:hidden; zoom:1}
#showList .list li .botton .ck{display:block; width:60px; height:15px; padding:5px 10px; background-color:#D63C3C; border:solid 1px #ccc; color:#fff; text-align:center; line-height:15px}
#showList .list li.show1 .botton .ck{margin:0px auto}
#showList .list li.show2 .botton .ck{float:left}
#showList .list li .botton .ck:hover{text-decoration:underline}
#showList .list li .botton p{float:left; width:74px; padding:3px 1px 0 25px}
#showList .list li .botton p a{line-height:15px}
#turnPage{margin:0 auto; padding:5px 0; width:500px}
#turnPage .prev10{width:20px; height:20px; background:url(../images/showbg.png) -80px -160px no-repeat; margin-right:2px; vertical-align:middle}
#turnPage .prev{width:20px; height:20px; background:url(../images/showbg.png) -140px -160px no-repeat; margin-right:5px; vertical-align:middle}
#turnPage .pageNum{margin-right:5px}
#turnPage .pageNum a{margin:0 5px}
#turnPage .pageNum a.current{color:#F00}
#turnPage .next{width:20px; height:20px; background:url(../images/showbg.png) -170px -160px no-repeat; margin-right:2px; vertical-align:middle}
#turnPage .next10{width:20px; height:20px; background:url(../images/showbg.png) -110px -161px no-repeat; margin-right:10px; vertical-align:middle}
#turnPage input{border:solid 1px #ccc; vertical-align:middle; text-align:center}
#turnPage .in{height:18px; width:20px}
#turnPage .butt{height:20px; width:32px}
#ProductIframe{width:982px}
/*相关搜索(search.html)*/
#xgss{border:solid 1px #ccc; background-color:#F6F6F6; padding:8px 0}
#xgss span{margin-left:10px; overflow:hidden}
#xgss small{white-space:nowrap; margin-right:-1px}
#xgss span a{border-right:solid 1px #ccc; padding:0px 10px; color:#09F;}
#xgss span a:hover{color:#F66;}