@charset "utf-8";
/*清库产品*/
#Discount{width:208px; border-bottom:solid 1px #ccc; margin-top:10px}
#Discount dd{overflow:hidden; zoom:1; border-bottom:dotted #ccc 1px;border-left: solid 1px #CCC; border-right: solid 1px #CCC; padding:2px 0 1px 0}
#Discount dd img{vertical-align:middle}
#Discount dd h2,#Discount dd p{float:left;}
#Discount dd h2{width:35%; text-align:center;}
#Discount dd p{width:60%}
#Discount dd .name{margin-bottom:3px; margin-top:2px}
/*产品热评*/
#hotComments{overflow:hidden; border-bottom:solid 1px #ccc}
#hotComments .group{background-color:#FaFafa; padding:0px 10px; border:solid 1px #ccc; border-top:none; border-bottom:none; margin-bottom:-1px}
#hotComments .group .item{overflow:hidden; zoom:1; padding:5px 0px; border-bottom:dotted 1px #ccc}
#hotComments .group .item .photo{float:left; border:solid 1px #ccc; margin-right:5px}
#hotComments .group .item div{float:left; width:121px; clear:right}
#hotComments .group .item .adText{margin-bottom:3px}
#hotComments .group .item .price{text-align:right; margin-bottom:3px}
/*热卖推荐样式*/
#recommend{border:solid 1px #F9AA3D; width:778px; float:left; margin-bottom:10px}
#recommend .group{border:solid 3px #F9EFE3; height:226px; position:relative; zoom:1}
#recommend .group .pTitle{position:absolute}
#recommend .group .item{overflow:hidden; zoom:1; width:762px; padding:9px 0 0 15px}
#recommend .group .item li{float:left; width:170px; padding-right:20px}
#recommend .group .item li p{margin-top:10px}
#recommend .group .item li .price{text-align:left; position:relative; zoom:1; height:23px}
#recommend .group .item li .bt1{position:absolute; right:0}
/*团购*/
#groupBuy{width:190px; float:right}
#groupBuy .group{border:solid 1px #ccc; border-top:none; height:201px; padding:2px 4px 0 4px}
#groupBuy .group p{margin-top:2px}
#groupBuy .group .join{width:186px; height:35px; background:url(../images/indexBgs.png) 0 -16px no-repeat; padding-top:4px}
#groupBuy .join a{color:#fff; text-align:center; width:37px; height:22px; line-height:2.2; letter-spacing:2px; margin-right:10px}
#groupBuy .join a:hover{color:#CE2027}
#groupBuy .join em{color:#fff; font-size:18px; font-weight:bold; margin-right:5px; vertical-align:middle}
#groupBuy .join span{color:#fff}
#groupBuy .item{position:relative; zoom:1}
#groupBuy .time strong{font-size:16px; font-weight:bold; color:#CE2027}
#groupBuy .number{position:absolute; right:0; font-weight:100}
#groupBuy .number strong{font-size:14px; font-weight:bold; color:#D87600}
/*筛选条件*/
#screening{border-top:solid 2px #F9AA3D; clear:left}
#screening *{line-height:18px}
#screening .title{border-radius:0; line-height:30px}
#screening .attr{padding:10px; padding-bottom:5px; border-bottom:dotted 1px #ccc; border-left:solid 1px #ccc; border-right:solid 1px #ccc}
#screening .attr em{width:100px; text-align:right; font-weight:bold}
#screening .attr strong{width:824px; position:relative; right:0; vertical-align:top}
#screening .attr span{margin:0 18px; margin-bottom:5px; width:100px; vertical-align:top}
#screening .attr a{padding:0 2px; color:#069}
#screening .attr a.selected{background-color:#CC0000; color:#fff;}
#screening .more{border-top:solid 1px #ccc; margin-top:-1px}
#screening .more .item0{height:5px; font-size:0; background-color:#fcfcfc; border:solid 1px #ccc; border-top:none}
#screening .more .item1{width:80px; text-align:center; margin:0px auto; border:solid 1px #ccc; background-color:#fcfcfc; border-top:solid 1px #fcfcfc; margin-top:-1px}
#screening .more .item1 a{color:#037DC7}
#screening .more .item1 a:hover{text-decoration:underline}
/*商品列表*/
#showList{margin-top:10px; border:solid 1px #ccc; border-top:solid 3px #BE1E2D; width:980px;}
#showList .sort{height:36px; background-color:#F7F8F8; border-bottom:solid 1px #ccc}
#showList .sort .item0{float:left; clear:right; margin-top:6px; padding-left:15px}
#showList .sort .item0 div{float:left}
#showList .sort .item0 select{border:solid 1px #ccc; height:24px}
#showList .sort .item0 ul{overflow:hidden; zoom:1; float:left; margin-left:30px}
#showList .sort .item0 li{padding:2px 10px; float:left; font-size:12px; border:solid 1px #ccc; margin-right:5px; cursor:pointer; cursor:hand}
#showList .sort .item0 li a:hover{text-decoration:underline}
#showList .sort .item0 li.selected{background-color:#BE1E2D}
#showList .sort .item0 li.selected a{color:#fff; font-weight:bold}
#showList .list{padding-top:10px; width:972px}
#showList .list ul{overflow:hidden; zoom:1}
#showList .list li{float:left; margin:0px 8px 10px 8px; border:solid 2px #fff; width:220px}
#showList .list li .group{border:solid 1px #fff; padding:5px}
#showList .list li:hover{border:solid 2px #E9E7CF; padding:0px}
#showList .list li:hover .group{border:solid 1px #F9F9E6}
#showList .list li .photo{text-align:center}
#showList .list li .mem0{overflow:hidden; zoom:1; padding-right:5px; margin-bottom:5px}
#showList .list li .mem0 p{float:left; width:35%}
#showList .list li .mem0 .price{width:65%; text-align:left}
#showList .list li .botton{overflow:hidden; zoom:1}
#showList .list li .botton .ck{display:block; width:60px; height:15px; padding:5px 10px; background-color:#CE2027; border:solid 1px #ccc; color:#fff; text-align:center; line-height:15px}
#showList .list li.show1 .botton .ck{margin:0px auto}
#showList .list li.show2 .botton .ck{float:left}
#showList .list li .botton .ck:hover{text-decoration:underline}
#showList .list li .botton p{float:left; width:74px; padding:3px 1px 0 25px}
#showList .list li .botton p a{line-height:15px}
#turnPage{margin:0 auto; padding:5px 0; width:500px}
#turnPage .prev10{width:20px; height:20px; background:url(../images/showbg.png) -80px -160px no-repeat; margin-right:2px; vertical-align:middle}
#turnPage .prev{width:20px; height:20px; background:url(../images/showbg.png) -140px -160px no-repeat; margin-right:5px; vertical-align:middle}
#turnPage .pageNum{margin-right:5px}
#turnPage .pageNum a{margin:0 5px}
#turnPage .pageNum a.current{color:#F00}
#turnPage .next{width:20px; height:20px; background:url(../images/showbg.png) -170px -160px no-repeat; margin-right:2px; vertical-align:middle}
#turnPage .next10{width:20px; height:20px; background:url(../images/showbg.png) -110px -161px no-repeat; margin-right:10px; vertical-align:middle}
#turnPage input{border:solid 1px #ccc; vertical-align:middle; text-align:center}
#turnPage .in{height:18px; width:20px}
#turnPage .butt{height:20px; width:32px}
#ProductIframe{width:982px}
/*相关搜索(search.html)*/
#xgss{border:solid 1px #ccc; background-color:#F6F6F6; padding:8px 0}
#xgss span{margin-left:10px; overflow:hidden}
#xgss small{white-space:nowrap; margin-right:-1px}
#xgss span a{border-right:solid 1px #ccc; padding:0px 10px; color:#09F;}
#xgss span a:hover{color:#F66;}