@charset "utf-8";
/*leo*/
/*全局样式*/
button::-moz-focus-inner, input[type="reset"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="file"] > input[type="button"]::-moz-focus-inner {border:none; padding:0}
input{vertical-align:middle; border:0}
textarea{padding:2px}
.l_class{margin-right:10px; width:208px}
.r_class{margin-left:10px}
.area{margin-top:10px}
.page{width:1200px; margin:0px auto; position:relative}
.mix{overflow:hidden; zoom:1; width:100%}
.clear{overflow:hidden; zoom:1}
.l_module,.m_module,.r_module,.dgwz,.intlist{float:left;}
.l_module{width:208px}
.m_module{width:780px}
#home .r_module{width:202px}
.r_mix{float:right; width:982px}
#turnPage1{margin-top:-5px}
#turnPage1 a{padding:0 5px; border:solid 1px #ccc; background-color:#fff; margin:0 2px}
#turnPage1 .currPage{border:solid 1px #cc0000; background-color:#ffe3e3}
.alignLine{position:relative}
.alignLine .rColumn{position:absolute; right:0}
.bt0,.bt1,.bt2,.bt3{display:inline-block; text-align:center;}
.bt0{width:46px; height:23px; background:url(../images/btbg0.png) no-repeat; line-height:23px; color:#fff;}
.bt1{width:69px; height:23px; background:url(../images/allbt.png) no-repeat; line-height:23px; color:#fff;}
.bt2{width:45px; height:20px; background:url(../images/btbg2.png) no-repeat; line-height:20px; color:#999;}
.bt3{width:69px; height:20px; background:url(../images/allbt.png) 0 -32px no-repeat; color:#666; line-height:1.8}
.bt4{width:119px; height:29px; background:url(../images/allbt.png) 0px -377px no-repeat; text-indent:25px; font-size:13px; font-weight:bold; color:#fff; line-height:29px}
.bt4:hover{color:#FFC}
.bt5{width:151px; height:34px; background:url(../images/allbt.png) 0px -291px no-repeat; font-size:18px; text-indent:45px; font-weight:bold; color:#fff; line-height:2}
.bt5:hover{color:#FFC}
.bt7{width:151px; height:34px; background:url(../images/allbt.png) 0 -335px no-repeat; font-size:18px; text-indent:45px; font-weight:bold; color:#fff; line-height:2}
.bt7:hover{color:#FFC}
.link0{color:#069;}
.link1{color:#06c;}
.link2{color:#fff;}
.link2:hover{color:#FC0;}
.link3{color:#069; text-decoration:underline}
.title0{font-weight:bold;}
.mast{color:#C00; font-weight:bold;}
.mast0{color:#f00;}
.mast1{font-weight:bold; color:#666;}
.mast2{font-weight:bold; font-size:14px;}
.mast3{color:#C00; font-weight:bold; font-size:14px}
.mast4{font-size:20px; font-family:simhei;}
.mast5{font-size:16px; color:#FF0000; font-weight:bold;}
.mast6{color:#fff}
.mast7{color:#fc0}
.slave{color:#999}
.slave0{color:#666}
.ll,.ll1{float:left;}
.rl{float:right;}
.title_col0{overflow:hidden; padding:5px 10px; background-color:#C00;}
.title_col0 p{display:inline-block; color:#fff;}
textarea{border:solid 1px #ccc; vertical-align:top;}
.blank{display:inline-block}
.border0{border:solid 1px #ccc; margin-bottom:5px}
.box0{width:206px; border-bottom:solid 1px #ccc}
.box0 .group{border-left:solid 1px #ccc; border-right:solid 1px #ccc; padding:0px 10px 0px 5px; margin-bottom:-1px}
.box0 .group li{padding:10px 0 5px 0; border-bottom:dotted 1px #ccc}
/*面包屑导航样式*/
#breadNav{margin-bottom:10px; border-bottom:solid 1px #ccc; padding:8px 0 8px 23px; clear:both}
#breadNav p{color:#666; font-size:12px}
#breadNav p a{font-size:14px; font-weight:bold; margin:0 10px}
#breadNav p a:hover{color:#c00}
/*弹出窗口样式*/
.popbox{width:476px; display:none; position:absolute; margin:0 362px; display:none; z-index:200}
.popbox .tBorder{height:4px; background:url(../images/floatWbg.png) no-repeat; font-size:0}
.popbox .bBorder{height:4px; background:url(../images/floatWbg.png) 0 -14px no-repeat; font-size:0}
.popbox .content{background:url(../images/floatWline.png) repeat-y; padding:0 4px}
.popbox .close{cursor:pointer}