/*框架*/
.title{height:31px; background:url(../images/helpline.gif) repeat-x; border-top:solid 1px #ccc; font-size:15px; line-height:2; font-weight:bold; padding-left:10px; border:none; border-radius:0; border-top:solid 1px #ccc}
/*新闻中心菜单*/
.helpMenu{border-bottom:solid 1px #ccc}
.helpMenu .title{height:30px; background:url(../images/helpBg.png) no-repeat; color:#fff; border:none}
.helpMenu dl{border-left:solid 1px #ccc; border-right:solid 1px #ccc}
.helpMenu dt{height:30px; border-top:solid 1px #ccc; border-bottom:solid 1px #ccc; background:url(../images/helpline.gif) 0 -35px repeat-x}
.helpMenu dt a{height:30px; width:186px; font-weight:bold; color:#CE2027; padding-left:20px; background:url(../images/liststyle.png) 8px 11px no-repeat; line-height:30px; font-size:14px}
.helpMenu dd{padding:6px 0; overflow:hidden}
.helpMenu dd a{height:25px; width:184px; padding-left:20px; background:url(../images/liststyle.png) 8px -33px no-repeat; line-height:25px; white-space:nowrap}
.helpMenu dd a.sel{background-color:#C4333E; color:#fff}
/*文章内容*/
#t_title_info{border-bottom:solid 1px #ccc; padding-bottom:10px; text-align:center}
#t_title_info h2{font-family:'黑体'; font-size:24px; color:#000}
#t_title_info p{font-size:14px; line-height:2; color:#999}
#t_title_info p a{color:#369}
#t_title_info p a:hover{text-decoration:underline}
#topic_content{font-size:14px; padding-top:10px}
#topic_content strong{font-weight:bold; display:inline}
#topic_content p{padding:10px 0}
#topic_content span{line-height:2; display:inline}
