@charset "utf-8";
/*大类菜单*/
/*大类菜单end*/
#adShow{float:left; width:780px; height:275px; overflow:hidden; position:relative}
#adShow a{display:none}
#adShow a.show{display:inline-block}
#adShow .btItem{position:absolute; top:10px; right:10px}
#adShow .btItem a{display:inline-block; width:29px; height:28px; background:url(../images/showbg.png) 1.5px -448.5px no-repeat; font-size:14px; font-weight:bold; color:#555; text-align:center; line-height:2}
#adShow .btItem a.selected{background:url(../images/showbg.png) -35px -447px no-repeat; color:#BE1E2D}
#limit{float:right; width:170px; height:273px; border:solid 1px #ccc; border-radius:5px 5px 0 0; padding:0 10px}
#limit h3{width:141px; height:38px; font:\9ED1\4F53; font-size:16px; font-weight:bold; color:#987314; text-align:center; line-height:2.8; text-indent:15px; background:url(../images/indexbgs.png) -67px -293px no-repeat; margin-top:-2px; margin-left:15px; position:absolute}
#limit h4{margin-top:43px; margin-bottom:5px}
#limit h4 span,.panicContentt h2 em,.panicContentt h2 b{padding:3px 0px;}
#limit h4 span{margin-right:0px; color:#000;}
#limit h4 b{color:red; font-size:16px;}
#limit .photo{width:100%; text-align:center; margin-bottom:5px}
#limit .adText{margin-bottom:10px}
#limit h5{position:relative}
#limit .price{text-align:left}
#limit .price b{font-size:16px; font-weight:bold; color:#A0000C}
#limit .buying{width:60px; height:23px; background:url(../images/allbt.png) -109px -31px no-repeat; text-align:center; color:#fff; font-weight:bold; line-height:1.9; position:absolute; right:0}

.chocolate{clear:both; zoom:1; margin-top:10px}
.chocolate h2{background-color:#f5f5f5; border-bottom:solid 3px #CE2027; height:27px; position:relative}
.chocolate h2 span{background:url(../images/tbg1.gif) right top no-repeat #CE2027; height:27px; color:#fff; font-weight:bold; font-size:14px; line-height:27px; text-indent:5px; padding-right:22px; letter-spacing:1px}
.chocolate h2 a{position:absolute; right:8px; line-height:27px}

.mainShow{overflow:hidden;zoom:1; border:#ccc solid 1px}
.hot{float:right;width:192px}
.hot a{display:block;height:100%;}

.mainProduct{float:left; width:80%; border-right:dotted 1px #ccc; margin-top:-1px}
.mainProduct .product{overflow:hidden;zooom:1; text-align:center; margin-bottom:-1px}
.mainProduct .product li{ float:left; width:24.9%; padding:10px 0; border-bottom:dotted 1px #ccc}
.mainProduct .product h3{padding:3px 0px;}
.mainProduct .product p{padding:0 10px;}

#classBrand{margin-top:10px}
#classBrand ul{border:solid 1px #ccc; border-top:none; overflow:hidden; zoom:1; padding:0 10px 9px 10px}
#classBrand ul li{float:left; margin-top:9px; width:50%; text-align:center}
#classBrand ul li img{vertical-align:middle}
.ranking{margin-top:10px}
.sellRanking{border:#ccc solid 1px; width:206px; border-top:none; margin-top:-1px}
.sellRanking li{overflow:hidden;zoom:1; border-top:dotted 1px #ccc; margin:0 10px; padding:5px 0;}
.sellRanking a,.sellRanking em{display:block;}
.sellRanking a.productPic,.sellRanking div,.sellRanking em{float:left;}
.sellRanking em{width:10%; font-weight:bold; text-align:center; margin-top:25px;}
.sellRanking a.productPic{width:28%;}
.sellRanking div{width:57%}
.sellRanking .name{margin-top:0}
.sellRanking .adText{margin-bottom:5px}
.sellRanking .price{text-align:left; padding-left:71px; *padding-left:81px}