<?xml version="1.0"?>
<configuration>

  <connectionStrings>
    <add name="ConnStr" connectionString="server=(local);User ID=sa;Password=root;database=mmbuy"/>
  </connectionStrings>

  <appSettings>
    <add key="ConnectionString" value="server=(local);User ID=sa;Password=root;database=mmbuy"/>
    <add key="ConnectionString11" value="server=192.168.0.10;User ID=dbc;Password=dbc*db*797512;database=ICSONDB_NEW"/>
    <add key="ConnectionString12" value="server=(local);User ID=dbc;Password=dbc*db*797512;database=DBCDB"/>
    <add key="ConnectionString13" value="server=(local);User ID=sa;Password=pass;database=ICSONDB_DEMO"/>
    <add key="ConnectionString00" value="server=(local);User ID=sa;Password=gggyd_mm;database=DBCHabiliment"/>
    <!--<add key="ConnectionString" value="server=192.168.0.10;User ID=sa;Password=pass;database=ICSONDB_DEMO"/>-->
    <add key="IPPVersion" value="1.0"/>
    <!--版本配置-->
    <add key="RequestAccountPwd" value="pass"/>
    <add key="ErrorLogFolder" value="c:\\Temp\\IcsonError\\"/>
    <add key="OrderMailTemplet" value="D:\\ICSON\\ICSON\\Icson.Web\\Shopping\\MailOrderTemplet.htm"/>
    <add key="SOAllocatedMap" value="admin:1;ias:1;lin"/>
    <add key="PMCollection" value=""/>
    <add key="APMCollection" value="admin:ias:Emin:Lynn:Nancy:Elena"/>
    <add key="FMCollection" value="admin:ias"/>
    <add key="domainname" value="http://localhost/icson.ias"/>
    <!-- 域名 -->
    <add key="MailCharset" value="gb2312"/>
    <add key="MailFrom" value="service@baby1one.com.cn"/>
    <add key="MailFromName" value="Icson Support"/>
    <add key="MailServer" value="218.78.209.78"/>
    <add key="MailUserName" value="postmaster"/>
    <add key="MailUserPassword" value="54253864"/>
    <add key="MailLord" value="Icson IAS"/>
    <!-- 表明是那个server发出来的邮件 -->
    <add key="IsDaemon" value="true"/>
    <!-- 是否运行Daemon程序, true:false 不区分大小写-->
    <add key="IsIAS" value="true"/>
    <!-- 是否运行Daemon中 IAS专有的程序delaypoint, sale trend, true:false 不区分大小写-->
    <add key="AdminEmail" value="stonebu@baby1one.com.cn"/>
    <!-- Daemon的管理员email-->
    <add key="IsSendEMail" value="false"/>
    <!-- 是否发邮件, true:false 不区分大小写-->
    <add key="IsImportable" value="false"/>
    <!-- 是否可以从ipp2中导入数据，正是运行以后，一定是false。 true:false 不区分大小写，用于-->
    <add key="PicturePath" value="http://www.baby1one.com.cn/IcsonPic/"/>
    <!-- 可以用来以后做图片缓存 -->
    <add key="OnlineRootPath" value="/"/>
    <!-- 仅仅用于http和https转换的时候用，其他地方一律用相对路径-->
    <add key="ReviewBox" value="PM@baby1one.com.cn"/>
    <add key="ErrorBarcode" value="errorbarcode"/>
    <add key="PrintBarcodeFile" value="c:\\temp\\PrintBarcodeFile.txt"/>
    <add key="DefaultStockSysNo" value="1"/>
    <add key="AutoCreateSOTimer" value="10"/>
    <!--单位为分钟-->
    <add key="AutoCreateSOCount" value="500"/>
    <!--单位时间内增加的最大随机数-->
    <add key="IsAutoUpdateSecondHandProductPrice" value="true"/>
    <add key="IsSendSMS" value="false"/>
    <add key="FMMonthCredit" value="1"/>
    <!--YoeJoy配置信息-->
    <add key="ImagePhyicalPath" value="E:\WorkPlace\Source\ASP.NET\MMBuy\sample\images\"/>
    <add key="ImageVitrualPath" value="http://localhost:8085/myimages/products/"/>
    <add key="HomeDisplayCategoryID1" value="232"/>
    <add key="HomeDisplayCategoryID2" value="232"/>
    <add key="SiteBaseURL" value="http://localhost:1404/"/>
    <add key="ProductListPagedCount" value="2"/>
    <add key="WishListPagedCount" value="40"/>
    <add key="DESCEncryptKey" value="@YoeJoy@"/>
    <add key="AlipayReturnURL" value="User/MyOrder.aspx"/>
    <add key="AlipayNotifyURL" value="Shopping/ResultFromAlipay.aspx"/>
    <add key="AlipaySellerEmailURL" value="melvinzhang@joyoplan.com" />
    <add key="MyOrderProductListPagedCount" value="40"/>
  </appSettings>

  <system.web>
    <pages>
      <controls>
        <add tagPrefix="CKEditor" assembly="CKEditor.NET" namespace="CKEditor.NET"/>
      </controls>
    </pages>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

</configuration>
